<!--**********************************************************************************
VF Page Name    : opportunityProductEntry
Description     : Product selection componenet will be reused in 
Created By      : Pierre Dufour
Created Date    : 2014-07-14
Modification Log: 
---------------------------------------------------------------------------------- 
Developer                   Date                   Description
---------------------------------------------------------------------------------- 
Reju                        2014-07-10             Created the initial search
Pierre                      2014-07-17             Column ordering for  sprint 1 demo
Pierre                      2014-07-17             Quick fix of the nofication icon
Pierre                      2014-07-17             Quick fix of details link
Pierre                      2014-07-17             Inventory link turned off
Laxmy                       2014-07-22             Autocomplete functionality on the field Search for Products implemented. 
Maryam                      2014-07-22             Progress Bar for search, adding a button for search implemented. 
Divya                       2014-07-24             Location picklist added to the Pageblock
Maryam                      2014-07-31             Added discounts, freight and weight deductions implemented
Pierre                      2014-08-01             Table Sort
Jayadev Rath                2014-08-04             Added location field on the product search table
Divya                       2014-08-14             Used a common reusable code for both Opportunity & Order product entry
Jayadev Rath                2014-08-18             Used custom labels instead of hard coded values fo100r multilingual support
Reju                        2014-08-25             Added the columns wheel position, tyre condition, wex, fitted onsite, torque setting with 2 lines of display.
Jayadev Rath                2014-08-25             Fetched the product names from remote javascript method (to avoid limit of 999 products)
Laxmy                       29-Aug-2014            Included Logic for displaying Substitute Products as a Tree.
Pierre                      2014-09-01             System logo, different search output for SAP
Divya                       2014-09-11             Changed the label for List Price for NA
Divya                       2014-09-16             Updated Logic to display '-' when the inventory webservice doesnot return a value
**********************************************************************************-->

<apex:page standardController="Opportunity" extensions="CS_ProductSelectionExtension" action="{!priceBookCheck}" doctype="html-5.0" title="{!$Label.CS_Product_Entry_Page}">

    <apex:sectionHeader Title="{!$Label.CS_Manage} {!$ObjectType.Product2.LabelPlural}" subtitle="{!opportunity.Name}"/>
    <!-- <apex:messages style="color:red"/> -->

    <style>
        .dataTables_empty{
            display:none;
        }
        .search{
            font-size:14pt;
            margin-right: 20px;    
        }
        .fyi{
            color:red;
            font-style:italic;
        }
        .label{
            margin-right:10px;
            font-weight:bold;
        }
        .total{
            margin-left:550px;
            margin-top:10px;
            font-weight:bold;
        }
        .totalweight{
            margin-left:100px;
            margin-top:10px;
            font-weight:bold;
        }                    
        .freight{
            margin-left:10px;
            margin-top:10px;
            font-weight:bold;
        }
        .freeweight{
            margin-left:821px;
            margin-top:10px;
            font-weight:bold;
        }
        .ui-autocomplete {
            max-height: 100px;
            overflow-y: auto;
            overflow-x: hidden;    /* prevent horizontal scrollbar */
        }
        .scroll{
            overflow-x: scroll;
        }
        .errormessage{
          
            color: rgb(255,0,0);
           
            font-size: 120%;
        }
          /* IE 6 doesn't support max-height
           * we use height instead, but this forces the menu to always be this tall
           */
        * html .ui-autocomplete {
            height: 100px;
        }
  </style>
    
    <script type='text/javascript'>
    
        // Stores the value for onBlur calculation
        var quantityValue;
        // This script assists the search bar functionality
        // It will execute a search only after the user has stopped typing for more than 1 second
        // To raise the time between when the user stops typing and the search, edit the following variable:
        
        var waitTime = 1;
        
    
        var countDown = waitTime+1;
        var started = false;
        function TEST()
        {return "test";
        }    
        //Maryam Abbas function noenter - search to occur on hitting enter 
        function noenter(ev)  {

            if (window.event && window.event.keyCode == 13 || ev.which == 13) {
    
                fetchResults();
                //LMK 8/2/2014: Implemented to close autocomplete list upon pressing Enter.
                j$("input[id$=apexproductautocomplete]" ).autocomplete("close");
                return false;
    
            } else{
                return true;
            }
        }
        function resetTimer(){
        
            countDown=waitTime+1;
            
            if(started==false){
                started=true;
                runCountDown();
            }
        }
        
        function runCountDown(){
        
            countDown--;
            
            if(countDown<=0){
                fetchResults();
                started=false;
            }
            else{
                window.setTimeout(runCountDown,1000);
            }
        }

      function saveQuote(objSubmitBtn) {
        
        doSubmit();
        objSubmitBtn.disabled = true;
      }

        
    </script>

    <!-- LMK 7222014 This code is for autocompleting the product names.-->    
    <script src="https://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="/soap/ajax/26.0/connection.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
    <script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.css"/>

    <!--apex:includeScript value="{!URLFOR($Resource.JQueryUI, '/jquery-1.8.2.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.JQueryUI, '/jquery-ui.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.JQueryUI, '/jquery-ui.js')}"/-->  
      
    <script type="text/javascript">
        var j$ = jQuery.noConflict();
        var apexProductList =[];
        
        Visualforce.remoting.Manager.invokeAction(
            '{!$RemoteAction.CS_ProductSelectionExtension.getProductNames}',
            '{!sPriceBookId}', 
            function(result, event){
                if (event.status) {
                    for (var i = 0; i < result.length; i++) {
                        apexProductList.push(result[i]);
                    }
                } else {
                    console.log('Error found : '+event.message);
                }
            }, 
            {escape: true}
        );
        
        //on Document ready
        j$(document).ready(function(){
             
            j$("input[id$=apexproductautocomplete]" ).autocomplete({
                source : apexProductList
            }).keydown(function(e){
    if (e.keyCode === 13){
        fetchResults();
    }
});

            InitTable();

        });

        function InitTable()
        {

             j$('[id*=ResultTable]').first().dataTable(
                {
                    "paging":   false,
                    "ordering": true,
                    "info":     false,
                    "searching": false,
                    "order": [[ 7, "desc" ]]
                }
            );
        }
 
    </script>

  
    <apex:form >
       <apex:actionFunction action="{!updatePriceAndWeight}" name="updatePriceAndWeight" rerender="selectedId">
        </apex:actionFunction>
        
        <apex:actionFunction action="{!applyDiscount}" name="applyDiscount" rerender="selectedId">
        </apex:actionFunction>    
        <apex:outputPanel id="mainBody">
        
            <apex:outputLabel styleClass="label">{!$Label.CS_PriceBook} </apex:outputLabel>
            <apex:outputText value="{!sPriceBookName}"/>&nbsp;
            <br/>
            <apex:outputPanel rendered="{!bMultipleCurrencies}">
                <apex:outputLabel styleClass="label">{!$Label.CS_Currency} </apex:outputLabel>
                <apex:outputText value="{!chosenCurrency}"/>
                <br/>
            </apex:outputPanel>

            <apex:outputLabel styleClass="label">{!$Label.CS_System}:</apex:outputLabel>
            <apex:image url="{!URLFOR($Resource.EpicorLogo)}" width="84" height="12" rendered="{!!EMEARecord}"/> 
            <apex:image url="{!URLFOR($Resource.SAP_Logo)}" width="30" height="16" rendered="{!EMEARecord}"/> 

            <br/>
            
            <!-- this is the upper table... a.k.a. the "Shopping Cart"-->
        
            <!-- notice we use a lot of $ObjectType merge fields... I did that because if you have changed the labels of fields or objects it will reflect your own lingo -->
            <apex:pageBlock title="{!$Label.CS_Selected} {!$ObjectType.Product2.LabelPlural}" id="selectedId">
           

                
                
                <apex:pageMessages id="messages"/>
                 <apex:actionRegion >
                 <div style ="overflow-x: auto;width:108em">
                <apex:outputPanel id="addedsearchResults">


                <apex:pageblockTable value="{!OpportunityShoppingCart}" rowClasses="even,odd" styleClass="display datatable" var="s" id="shoppingCartTable">
               
                    <apex:column >
                    
                        <apex:commandLink value="{!$Label.CS_Remove}" action="{!removeFromShoppingCart}" reRender="selectedId,messages" immediate="true">
                            <!-- this param is how we send an argument to the controller, so it knows which row we clicked 'remove' on -->
                            <apex:param value="{!s.PriceBookEntryId}" assignTo="{!toUnselect}" name="toUnselect"/>
                        </apex:commandLink>
                    </apex:column>
                    
                    <apex:column headerValue="{!$ObjectType.Product2.LabelPlural}" value="{!s.PriceBookEntry.Product2.Name}" rendered="false"/>
                  
                    <apex:column headerValue="{!$ObjectType.Product2.Fields.Family.Label}" rendered="false">
                        <apex:outputField value="{!s.PriceBookEntry.Product2.Family}" style="width:70px"/>
                    </apex:column>
                    
                    <apex:column headerValue="{!$ObjectType.Product2.Fields.ProductCode.Label}">
                        <apex:outputField value="{!s.PriceBookEntry.Product2.ProductCode}" style="width:70px "/>
                    </apex:column>

                    <apex:column headerValue="{!$ObjectType.Product2.Fields.Global_PID__c.Label}">
                        <apex:outputField value="{!s.PriceBookEntry.Product2.Global_PID__c}" style="width:70px "/>
                    </apex:column>
                     
                      <apex:column headerValue="{!$ObjectType.OpportunityLineItem.Fields.Location__c.Label}">
                        <apex:outputField value="{!s.Location__c}" style="width:70px" />
                    </apex:column>
<!--
                    <apex:column headerValue="{!$ObjectType.OpportunityLineItem.Fields.Weight__c.Label}">
                        <apex:outputField value="{!s.Weight__c}" style="width:70px"/>
                    </apex:column>
  -->                                     
                    <apex:column headerValue="{!$ObjectType.OpportunityLineItem.Fields.Quantity__c.Label}">
                   
                        <apex:inputField id="quantity" value="{!s.Quantity__c}" style="width:60px" required="true" onkeyup="if(this.value!= '' && this.value !=null) this.value = ((isNaN(Math.floor(this.value)) )? null: Math.floor(this.value)); " onfocus=" quantityValue = this.value;"  onblur="if(quantityValue != this.value) {  if(this.value==0 || this.value =='' || this.value== null) this.value='1'; applyDiscount();}"/>
                    </apex:column>
                    
                    
                    <apex:column headerValue="{!$ObjectType.OpportunityLineItem.Fields.ListPrice.Label}" rendered="{!EMEARecord}">
                        <apex:outputField value="{!s.PricebookEntry.UnitPrice}" style="width:70px" />
                    </apex:column>
                    
                    <apex:column headerValue="{!$Label.CS_List_Price}" rendered="{!!EMEARecord}">
                        <apex:outputField value="{!s.PricebookEntry.UnitPrice}" style="width:70px" />
                    </apex:column>
                                     
                   <!--commented ootb sales price-->                  
                   <!-- <apex:column headerValue="{!$ObjectType.OpportunityLineItem.Fields.UnitPrice.Label}">
                        <apex:outputField value="{!s.UnitPrice}" style="width:70px"/>
                    </apex:column>
                    <apex:column headerValue="Total Price" style="width:100px">
                        <apex:inputField value="{!s.TotalPrice}" style="width:70px" required="false" onkeyup="refreshTotals();"/>
                    </apex:column>-->
                    
                     <apex:column headerValue="{!$Label.CS_Sales_Price}" >
                     
                       <!-- <apex:outputField value="{!s.PricebookEntry.CurrencyIsoCode} " style="width:70px" /> &nbsp;-->
                    
                        <apex:outputField value="{!s.Sales_Price__c}" style="width:70px"/>
                        
                        <!-- Display the Total Price -->
                        <apex:facet name="footer">
                            <apex:outputPanel >
                            {!$Label.CS_Total_Price}  <br/> 
                            <apex:outputField value="{!theOpp.Total_Price__c}"/>
                            </apex:outputPanel>
                            
                        </apex:facet>
                        
                    </apex:column>
                     <apex:column headerValue="{!$Label.CS_Weight}">
                        <apex:outputField value="{!s.PriceBookEntry.Product2.Weight__c}" style="width:70px"/>
                         <!-- Display the Total Price -->
                        <apex:facet name="footer">
                            <apex:outputPanel >
                                <apex:outputLabel value="{!totalweightlabel}"/> <br/>
                                <apex:outputLabel value="{!prodweight}"/>
                            </apex:outputPanel>
                        </apex:facet>
                    </apex:column> 
                    <apex:column headerValue="{!$Label.CS_Weight_UoM}">
                        <apex:outputField value="{!s.PriceBookEntry.Product2.Weight_Unit__c}" style="width:70px"/>
                    </apex:column>
                    <!--<apex:column headerValue="{!$Label.CS_Unit_of_Measure}">
                        <apex:outputField value="{!s.PriceBookEntry.Product2.Unit_of_Measure__c}" style="width:70px"/>
                    </apex:column> -->
                   <apex:column headerValue="{!$Label.CS_Volume_in_m3}">
                        <apex:outputField value="{!s.PriceBookEntry.Product2.Volume__c}" style="width:70px"/>
                        <apex:facet name="footer">
                            <apex:outputPanel >
                                <apex:outputLabel value="{!totalVolLabel}"/> <br/>
                                <apex:outputLabel value="{!totalVolume}"/>
                            </apex:outputPanel>
                        </apex:facet>
                    </apex:column> 
                      <apex:column headerValue="{!$Label.CS_Volume_UoM}">
                        <apex:outputField value="{!s.PriceBookEntry.Product2.Volume_Unit__c}" style="width:70px"/>
                    </apex:column>
                   
                    <apex:column headerValue="{!$ObjectType.OpportunityLineItem.Fields.Wt_Vol_Ratio__c.Label}">
                        <apex:outputField value="{!s.Wt_Vol_Ratio__c}" style="width:120px"/>
                    </apex:column>
                     
                    
                    <apex:column headerValue="{!$Label.CS_Discount_Percent}" >                      
                    <apex:inputField value="{!s.Discount}" style="width:50px" required="false" onkeyup="refreshTotals();"/>
                    </apex:column>
                    
                    <apex:column headerValue="{!$ObjectType.OpportunityLineItem.Fields.Discount_Reason_Values__c.Label}">
                        <apex:inputField value="{!s.Discount_Reason_Values__c}" style="width:90px" required="false"/>
                    </apex:column>
                    
                   
                    <apex:column headerValue="{!$ObjectType.OpportunityLineItem.Fields.Notes__c.Label}" rowspan="2">
                        <!-- <apex:inputField value="{!s.Notes__c}" required="false"/> -->
                        <apex:inputTextarea rows="4" value="{!s.Notes__c}" required="false"/>
                    </apex:column>
                  
                    <!--apex:column >
                        <apex:commandLink value="{!$Label.CS_Inventory}" action="{!details}" reRender="selectedId,searchResults" immediate="true" rendered="false"/>
                    </apex:column-->
                    
                    <apex:column breakBefore="true"/>
                    <apex:column headerValue="{!$ObjectType.OpportunityLineItem.Fields.Wheel_Position__c.Label}" rendered="{!oRecordType == 'EMEA Service Opportunity'}" >
                    <apex:outputLabel style="font-weight:bold;"> 
                        {!$ObjectType.OpportunityLineItem.Fields.Wheel_Position__c.Label} <br/>
                    </apex:outputLabel>
                    <apex:inputField value="{!s.Wheel_Position__c}" style="width:100px" required="false" />
                        <apex:facet name="header">
                            <apex:outputPanel >
                                Wheel Position <br/>                                
                            </apex:outputPanel>
                        </apex:facet>                       
                    </apex:column>
                    
                   
                    <apex:column headerValue="{!$ObjectType.OpportunityLineItem.Fields.Tyre_Condition__c.Label}" rendered="{!oRecordType == 'EMEA Service Opportunity'}">
                        <apex:outputLabel style="font-weight:bold;"> 
                            {!$ObjectType.OpportunityLineItem.Fields.Tyre_Condition__c.Label} <br/>
                        </apex:outputLabel>
                        <apex:inputField value="{!s.Tyre_Condition__c}" style="width:100px" required="false"/>
                    </apex:column>
                    
                    <apex:column headerValue="{!$ObjectType.OpportunityLineItem.Fields.Torque_Setting__c.Label}" rendered="{!oRecordType == 'EMEA Service Opportunity'}">
                        <apex:outputLabel style="font-weight:bold;"> 
                            {!$ObjectType.OpportunityLineItem.Fields.Torque_Setting__c.Label} <br/>
                        </apex:outputLabel>
                        <apex:inputField value="{!s.Torque_Setting__c}" style="width:100px" required="false"/>
                    </apex:column>
                    
                    <apex:column headerValue="{!$ObjectType.OpportunityLineItem.Fields.Wex__c.Label}" rendered="{!oRecordType == 'EMEA Service Opportunity'}">
                        <apex:outputLabel style="font-weight:bold;"> 
                            {!$ObjectType.OpportunityLineItem.Fields.Wex__c.Label} <br/>
                        </apex:outputLabel>
                        <apex:inputField value="{!s.Wex__c}" required="false"/>
                    </apex:column>
                   
                    <apex:column headerValue="{!$ObjectType.OpportunityLineItem.Fields.Fitted_On_Site__c.Label}" rendered="{!oRecordType == 'EMEA Service Opportunity'}">
                        <apex:outputLabel style="font-weight:bold;"> 
                            {!$ObjectType.OpportunityLineItem.Fields.Fitted_On_Site__c.Label} <br/>
                        </apex:outputLabel>
                        <apex:inputField value="{!s.Fitted_On_Site__c }" required="false"/>
                    </apex:column>
                    
                    
                    
                </apex:pageblockTable>
            
            </apex:outputPanel>
            </div>
            </apex:actionRegion>              
                <apex:pageBlockButtons >
                    <apex:commandButton action="{!onSave}" value="{!$Label.CS_Save}"/>
                    <apex:commandButton action="{!onCancel}" value="{!$Label.CS_Cancel}" immediate="true"/>
                    <apex:commandButton action="{!applyDiscount}" value="{!$Label.CS_Apply_Discount}" reRender="selectedId"/>
                    <apex:commandButton id="submit" onClick="saveQuote(this); return false;"  value="Save and Quote" />
                    <apex:actionFunction name="doSubmit" action="{!saveandquote}" />
                                              
                    
                </apex:pageBlockButtons>
                    <!--  Moving these sections to the table footer level, so commenting it here --
                    <apex:outputLabel styleclass="total" value="{!$Label.CS_Total_Price}"/>
                    <apex:outputField value="{!theOpp.Total_Price__c}"/> 
                    <apex:outputLabel styleclass="totalweight" value="{!totalWeightLabel}"/>
                    <apex:outputLabel value="{!prodweight}"/>
                     <apex:outputLabel styleclass="totalweight" value="{!$Label.CS_Total_Volume}"/>
                    <apex:outputLabel value="{!totalVolume}"/>  <br/>
                    -->
                    <br/>
                    <apex:outputLabel styleclass="total" value="{!$Label.CS_Added_Discount}" rendered="{!!EMEARecord}"/>
                    <apex:inputField value="{!theOpp.Added_Discount__c}" required="false" rendered="{!!EMEARecord}"/>                   
                    <apex:outputLabel styleclass="freight" value="{!$Label.CS_Free_Freight}" rendered="{!(!EMEARecord&&theOpp.Freight_Discount_Applied__c==true)}" for="checkbox"/>
                    <apex:inputCheckbox id="checkbox" disabled="true" selected="true" rendered="{!(!EMEARecord&&theOpp.Freight_Discount_Applied__c==true)}"/> <br/>
                    <apex:outputLabel styleclass="freeweight" value="{!weightLabel}" rendered="{!(!EMEARecord&&theOpp.Weight_Discount_Applied__c==true)}" for="checkbox1"/>
                 
                    <apex:inputCheckbox id="checkbox1" disabled="true" selected="true" rendered="{!(!EMEARecord&&theOpp.Weight_Discount_Applied__c==true)}" />
            </apex:pageBlock>
    
            <!-- this is the lower table: search bar and search results -->
    
            <apex:pageBlock >
            
                <apex:outputPanel styleClass="search">
                    {!$Label.CS_Search_for} {!$ObjectType.Product2.LabelPlural}:
                    
                </apex:outputPanel>

                <apex:actionRegion renderRegionOnly="false" >
                
                  <!-- commented to make the search bar to work with click of button -->
                

                    <apex:actionFunction name="fetchResults" action="{!updateAvailableList}" reRender="searchResults,out" status="searchStatus"/>
                                        
                    
                    <apex:inputText id="apexproductautocomplete" value="{!searchString}" onkeypress="return noenter(event);" style="width:300px"/>

                    <!-- 7/21/2014 MFA - button added below for search -->
                    <apex:commandButton id="searchbutton" action="{!updateAvailableList}" reRender="searchResults,out" value="{!$Label.CS_Search}" status="searchStatus">
                        <apex:param value="true" assignTo="{!bGetDataFromExtSystem}" name="bGetDataFromExtSystem"/>
                    </apex:commandButton>
                    &nbsp;&nbsp;
                    <i>
                        <!-- actionStatus component makes it easy to let the user know when a search is underway -->
                        <!--apex:actionStatus id="searchStatus" startText="{!$Label.CS_Searching}" stopText=" "/-->
                        <apex:actionStatus id="searchStatus" onStop="InitTable();">
                            <apex:facet name="start" >
                                   <apex:image url="{!$Resource.ProgressBar}" width="150" />    
                            </apex:facet>
                            </apex:actionStatus>

                    </i>
                 

                <div align="right">
                    <apex:outputLabel styleclass="Label" value="{!$Label.CS_Location}:"/>
                    <apex:selectList value="{!sSelectedLocation}" multiselect="false" size="1">
                     <apex:selectOptions value="{!CountriesOptions}"/>
                    </apex:selectList>
                </div>
                </apex:actionRegion>
                <br/>
                <br/>
                
                <apex:outputPanel id="searchResults" >
                  <apex:outputLabel id="out" styleClass="errormessage" value="{!restCallError}"/>
<apex:pageBlockTable value="{!AvailableProducts}" var="a" id="ResultTable" styleClass="display datatable" rendered="{!EMEARecord}">
                        
                        <apex:column headerValue="{!$ObjectType.Product2.Fields.Name.Label}"  value="{!a.Product2.Name}" title="{!if(EMEARecord, a.Product2.Long_Product_Description__c, '')}" />/>
                        <apex:column headerValue="{!$ObjectType.Product2.Fields.Brand__c.Label}" value="{!a.Product2.Brand__c}" rendered="false"/>
                        <apex:column headerValue="{!$ObjectType.Product2.Fields.Product_Line__c.Label}" value="{!a.Product2.Product_Line__c}" rendered="{!!EMEARecord}"/>/>
                        <apex:column headerValue="{!$ObjectType.Product2.Fields.ProductCode.Label}" value="{!a.Product2.ProductCode}"  rendered="{!!EMEARecord}"/>/>
                        <apex:column headerValue="{!$ObjectType.Product2.Fields.Global_PID__c.Label}" value="{!a.Product2.Global_PID__c}"/>
                        <apex:column headerValue="{!$ObjectType.Product2.Fields.Description.Label}" value="{!a.Product2.Description}" rendered="false"/>
                        <apex:column headerValue="{!$ObjectType.Product2.Fields.ABC_Classification__c.Label}" value="{!a.Product2.ABC_Classification__c}" rendered="{!!EMEARecord}"/> >
                        
                         <apex:column headerValue="{!$Label.CS_Availability}">
                            <apex:image id="theImage" value="https://cs18.salesforce.com/resource/1405641836000/Red_Notification" rendered="{!a.Product2.On_hand__c == 0}" width="16" height="16"/>
                        </apex:column>

                        <!-- Replaced the selectoption with a text field from Product object
                        <apex:column headerValue="{!$Label.CS_Location}" >
                            <apex:selectList multiselect="false" size="1">
                               <apex:selectOptions value="{!CountriesOptions}"/>
                            </apex:selectList>
                        </apex:column>      -->
                        
                        <apex:column headerValue="{!$ObjectType.Product2.Fields.Location__c.Label}">
                           {!IF( NOT(ISNULL(a.Product2.Location__c)) ,a.Product2.Location__c,'-') }
                        </apex:column>
                        <apex:column headerValue="{!$ObjectType.Product2.Fields.On_hand__c.Label}">
                          {!IF( NOT(ISNULL(a.Product2.On_hand__c)) ,a.Product2.On_hand__c,'-') }
                        </apex:column>
                       <!-- <apex:column headerValue="{!$ObjectType.Product2.Fields.Reserved__c.Label}">
                            {!IF( NOT(ISNULL(a.Product2.Reserved__c)) ,a.Product2.Reserved__c,'-') }
                        </apex:column> -->
                       <!-- <apex:column headerValue="{!$ObjectType.Product2.Fields.Ordered__c.Label}">
                            {!IF(NOT(ISNULL(a.Product2.Ordered__c)),a.Product2.Ordered__c,'-')}
                         </apex:column>-->
                        <apex:column headerValue="{!$ObjectType.Product2.Fields.Transit__c.Label}">
                            {!IF(NOT(ISNULL(a.Product2.Transit__c)),a.Product2.Transit__c,'-')}
                         </apex:column>
                        <apex:column headerValue="{!$ObjectType.Product2.Fields.AvailableInventory__c.Label}">
                            {!IF(NOT(ISNULL(a.Product2.AvailableInventory__c)),a.Product2.AvailableInventory__c,'-')}
                        </apex:column>
                       <apex:column headerValue="{!$ObjectType.Product2.Fields.Country_of_Origin__c.Label}">
                            {!IF(NOT(ISNULL(a.Product2.Country_of_Origin__c)),a.Product2.Country_of_Origin__c,'-')}
                        </apex:column>
                        
                        <apex:column headerValue="{!$ObjectType.PricebookEntry.Fields.UnitPrice.Label}"  rendered="{!EMEARecord}">
                         {!IF(NOT(ISNULL(a.UnitPrice)),a.UnitPrice,'-')} 
                        </apex:column>
                          
                    <apex:column headerValue="{!$ObjectType.Product2.Fields.Sales_Price__c.Label}" rendered="{!EMEARecord}">
                    {!IF(NOT(ISNULL(a.Product2.Sales_Price__c)),a.Product2.Sales_Price__c,'-')} 
                    </apex:column>
                        
                         <apex:column headerValue="{!$Label.CS_List_Price}" rendered="{!!EMEARecord}">
                         {!IF(NOT(ISNULL(a.UnitPrice)),a.UnitPrice,'-')} 
                         </apex:column>
                         
                         
                         
                        <apex:column headerValue="{!$Label.CS_Details}">
                            <a href="/{!a.Product2Id}" target= "_blank">{!$Label.CS_Details}</a>
                            <!-- <apex:commandLink value="{!$Label.CS_Details}" onclick="window.open('/{a.Product2Id');" style="align:right;" reRender="selectedId,searchResults" immediate="true"/> -->
                        </apex:column>
                        https://c.cs18.visual.force.com/s.gif
                        <apex:column >
                            <!-- command button in a column... neato -->
                            <apex:commandButton value="{!$Label.CS_Select}" action="{!addToShoppingCart}" reRender="searchResults,addedsearchResults" immediate="true" status="searchStatus">
                                <!-- again we use apex:param to be able to tell the controller which row we are working with -->
                                <apex:param value="{!a.Id}" assignTo="{!toSelect}" name="toSelect"/>                                
                                <apex:param value="{!a.Product2.Location__c}" assignTo="{!sSelectedProductLocation}" id="productSelected" name="sSelectedProductLocation"/>
                            </apex:commandButton>
                        </apex:column>
     
                    </apex:pageBlockTable>
                    <div align="center"> {!IF(ISNULL(AvailableProducts),$Label.CS_No_Data_Available_in_Table,"")}</div>
                    <!--apex:pageBlockTable value="{!getSubsProductlist }" var="s" id="SubResultTable" styleClass="display datatable">                    
                        <apex:column headerValue="{!$ObjectType.Substitute_Product__c.Fields.Name.Label}" value="{!s.Name}" /> 
                    </apex:pageBlockTable-->
               <!--                    
                          <!-- Include the Jquery Script files -->
<link rel="stylesheet" href="{!URLFOR($Resource.Jtreeview,'Jquerytreeview/jquery.treeview.css')}"/>
<script src="{!URLFOR($Resource.Jtreeview,'Jquerytreeview/jquery.js')}" type="text/javascript"></script>
<script src="{!URLFOR($Resource.Jtreeview,'Jquerytreeview/jquery.cookie.js')}" type="text/javascript"></script>
<script src="{!URLFOR($Resource.Jtreeview,'Jquerytreeview/jquery.treeview.js')}" type="text/javascript"></script>
<!-- End of Javascript files -->
<script type="text/javascript">
        $(function() {
            $("#tree").treeview({
                collapsed: true,
                animated: "medium",
                control:"#sidetreecontrol",
                persist: "location"
            });
        })
</script>
<br/> <br/> <br/>
<!-- Tree -->
<apex:outputPanel rendered="{!!EMEARecord}">
<apex:outputLabel styleClass="errormessage" value="{!restCallError}"/>
<div class="treeheader" style="height:0px;">&nbsp;</div>
<div id="sidetreecontrol"><a href="?#"><font style="color:blue;">Collapse All</font></a> | <a href="?#"><font style="color:blue;">Expand All</font></a></div>
<table >
<ul id="tree">
<table  border="0" cellpadding="0" cellspacing="0"  >
<thead >
        <tr >
            <th  width="50"> Product Search Results </th></tr></thead>

</table> 

     <apex:repeat value="{!AvailableProducts}" var="k" > 
     
          
     <li>
     <table class="dataRow" border="0" cellspacing="0" width="100%"> 
     
    <thead class="list">
        <tr class="headerRow">
            <th class="headerRow" width="200"> Product Name</th>            
            <th class="headerRow" width="100"> Product Code </th>
            <th class="headerRow" width="50"> Global PID </th>
            <th class="headerRow" width="50"> ABC Classification</th>
            <th class="headerRow" width="50"> Availability </th>
            <th class="headerRow" width="50"> Location</th>
            <th class="headerRow" width="50"> On Hand</th>
            <th class="headerRow" width="50" > Reserved </th>
            <th class="headerRow" width="50"> Ordered </th>
            <th class="headerRow" width="50"> Transit </th>
            <th class="headerRow" width="50"> Available </th>
            <th class="headerRow" width="50"> Customer Price </th>
            <th class="headerRow" width="50"> Details</th>
            <th class="headerRow" width="50"> </th>
        </tr>
        
     </thead> 
     <tr class="dataRow">         
        <td class="dataCell" ><apex:outputText value="{!k.Product2.Name}" /> </td>
        <!--td  class="dataCell"><apex:outputText value="{!k.Product2.Product_Line__c}" /></td-->
        <td class="dataCell" ><apex:outputText value="{!k.Product2.ProductCode}" /> </td>
        <td class="dataCell" ><apex:outputText value="{!k.Product2.Global_PID__c}" /> </td>
        <td class="dataCell"><apex:outputText value="{!k.Product2.ABC_Classification__c}" /> </td>
        <td class="dataCell" ><apex:image id="theImage" value="https://cs18.salesforce.com/resource/1405641836000/Red_Notification" rendered="{!k.Product2.On_hand__c == 0}" width="16" height="16"/> </td> 
        <td class="dataCell" > {!IF(NOT(ISNULL(k.Product2.Location__c)),k.Product2.Location__c,'-')} </td>
<!-- Divya-Commenting the following to put a '-' when the webservice doesnot return a value

        <td ><apex:outputfield value={!IF(NOT(ISNULL(k.Product2.On_hand__c)),k.Product2.On_hand__c,'-'} </td>
        <td class="dataCell" ><apex:outputfield value="{!k.Product2.Reserved__c}" /></td>
        <td class="dataCell" ><apex:outputfield value="{!k.Product2.Ordered__c}" /></td>
        <td class="dataCell" ><apex:outputfield value="{!k.Product2.Transit__c}" /></td>
        <td class="dataCell" ><apex:outputfield value="{!k.Product2.AvailableInventory__c}" /> </td> 
        -->             


       <!--td> <apex:outputfield value="{!k.Product2.On_hand__c}"/> </td-->
          <td class="dataCell">{!IF(NOT(ISNULL(k.Product2.On_hand__c)),k.Product2.On_hand__c,'-')} </td>
        <td class="dataCell" > {!IF(NOT(ISNULL(k.Product2.Reserved__c)),k.Product2.Reserved__c,'-')} </td>
        <!--td> <apex:outputfield value="{!k.Product2.Reserved__c}"/> </td-->
        <!--td> <apex:outputfield value="{!k.Product2.Reserved__c}" rendered="{!k.Product2.Reserved__c!=NULL}"/> </td-->
          <!--td class="dataCell" > <apex:outputtext value="{!IF(NOT(ISNULL(k.Product2.Reserved__c)),k.Product2.Reserved__c,'-')}"  rendered="{!k.Product2.Reserved__c}"/> </td-->     
        
        <td class="dataCell" > {!IF(NOT(ISNULL(k.Product2.Ordered__c)),k.Product2.Ordered__c,'-')} </td>
        <td class="dataCell" > {!IF(NOT(ISNULL(k.Product2.Transit__c)),k.Product2.Transit__c,'-')} </td>
        <td class="dataCell" > {!IF(NOT(ISNULL(k.Product2.AvailableInventory__c)),k.Product2.AvailableInventory__c,'-')} </td>   
            
        <td class="dataCell" ><apex:outputfield value="{!k.UnitPrice}" /></td>
        <td class="dataCell" ><a href="/{!k.Product2Id}" target= "_blank">{!$Label.CS_Details}</a></td>
        <td class="dataCell" ><apex:commandButton value="{!$Label.CS_Select}" action="{!addToShoppingCart}" reRender="searchResults,addedsearchResults" immediate="true" status="searchStatus">
       <!-- again we use apex:param to be able to tell the controller which row we are working with -->
        <apex:param value="{!k.Id}" assignTo="{!toSelect}" name="toSelec--t"/>                                
        <apex:param value="{!k.Product2.Location__c}" assignTo="{!sSelectedProductLocation}" id="productSelected" name="sSelectedProductLocation"/>
        </apex:commandButton></td>
     </tr>
     </table>
        <ul>
        <apex:repeat value="{!ProductTree[k.Product2.Id]}" var="child"  >
       
        
             <li> 
             <table width="700">
             
    <thead class="list">
        <tr class="headerRow">
             <th class="headerRow" width="100"> Product Name</th>
            
            <th class="headerRow" width="100"> Product Code </th>
            <th class="headerRow" width="100"> Global PID </th>
            <th class="headerRow" width="100"> ABC Classification</th></tr></thead>
             <tr class="dataRow">
                 <td class="dataCell"><apex:outputText value="{!child.Child_Product__r.Name}" /></td>
                         <!--td  class="dataCell" width="100"><apex:outputText value="{!child.Child_Product__r.Product_Line__c}" /></td-->
                          <td class="dataCell" width="100"><apex:outputText value="{!child.Child_Product__r.ProductCode}" /> </td>
                          <td class="dataCell" width="100"><apex:outputText value="{!child.Child_Product__r.Global_PID__c}" /> </td>
                          <td class="dataCell" width="100"><apex:outputText value="{!child.Child_Product__r.ABC_Classification__c}" /> </td>
             </tr>
             </table>
             </li>                   
            <!--/apex:repeat--> 
            
             </apex:repeat> 
        </ul>                     
      </li>
    
     </apex:repeat>  
  </ul> 
  </table> 
</apex:outputPanel>

                      




                    <!-- We put up a warning if results exceed 100 rows -->
                    <apex:outputPanel styleClass="fyi" rendered="{!overLimit}">
                        <br/>
                        {!$Label.CS_Overlimit_Error} {!$ObjectType.Product2.Label}
                        <br/>
                    </apex:outputPanel>
                </apex:outputPanel>
            </apex:pageBlock>
        </apex:outputPanel>
    </apex:form>
</apex:page>