<apex:page controller="CS_InformaticaScheduler" title="Inormatica Outbound Test" tabStyle="Account"> 
    <apex:form >

        <apex:pageBlock >
            <apex:pageBlockSection title="Outbound Target" collapsible="false" columns="1">
                <apex:outputPanel >
                    URL 1: {!sEndPointUrl}   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<a href="http://docs.test2145.apiary.io/traffic" target="_blank">Repository </a>)
                    <br/> URL 2: {!sEndPointUrl2}   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(<a href="http://requestb.in/11tk6wa1?inspect" target="_blank">Repository </a>)
                    <br/>
                    URL to use: <apex:inputText value="{!sFinalEndPointURL}" size="100"/>
                </apex:outputPanel>
                <apex:commandButton action="{!TestDummyCallout}" value="Test Callout" reRender="result"/>                    
            </apex:pageBlockSection>

            <apex:pageBlockSection title="Result" collapsible="false" id="result">
                <apex:outputtext >
                    {!sOutputMessage}
                </apex:outputtext>        
            </apex:pageBlockSection>
        </apex:pageBlock>
        
    </apex:form>
</apex:page>